.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: burlywood;
}

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  margin: 20px 10px;
  width: 35rem;
  max-width: 90vw;
  border-radius: 1rem;
  overflow: hidden;
  background-color: antiquewhite;
  box-shadow: 0px 0px 5px 5px black;
  transition: all 0.5s;
}

:not(.modalCard) > .card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 10px;
}

.characters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card img {
  width: 12rem;
}

.Alive, .Dead, .unknown {
  margin-left: 0.25rem;
}

.Alive {
  color: green;
}

.Dead {
  color: red;
}

.unknown {
  color: gray;
}

td:first-child {
  color: gray;
}

table {
  margin-top: 10px;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.modalCard {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.modalOpen{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.closeButton > svg {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.closeButton {
  text-align: end;
  margin-inline-end: 10px;
  margin-top: 5px;
}

:not(.modalCard) > .card > .cardContent > .closeButton {
  display: none;
}

.hide {
  display: none;
}